@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Raleway:wght@500;600;700&display=swap");

@import url("https://use.typekit.net/eco4pze.css");

* {
  margin: 0;
  padding: 0;
}

@media (min-width: 400px) {
  .container-1 {
    display: flex; /* or inline-flex */
    align-items: flex-start;
  }
}
header {
  width: 100vw;
  height: 100vh;
}
.introduction {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  font-family: century-gothic, sans-serif;
  font-size: 2.5vmin;
}

/* .inner-grid {
  display: flex;
} */

.intro_img {
  width: 50%;

  position: sticky;
  top: 0px;
  left: 0px;
}
.intro_image {
  height: 95vh;
  right: 20%;
}

.intro_txt {
  width: 50%;
  padding-left: 5rem;
  padding-right: 3rem;
}
.intro_txt2 {
  margin-top: 2rem;
  padding-left: 1rem;
}
.chart_container {
  order: 1;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 60vw;
  height: 100vh;
}
strong {
  font-size: 1.3em;
  font-family: century-gothic, sans-serif;
}

.steps {
  width: 40vw;
  order: 2;
}
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.step {
  margin-top: 5rem;
  margin-right: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.5rem;
  min-height: 35rem;
  font-family: century-gothic, sans-serif;
  font-size: 2.5vmin;
}
.between-steps {
  margin-top: 5rem;
  margin-right: 1.2rem;
  padding-left: 1.2rem;
  min-height: 30rem;
  font-family: century-gothic, sans-serif;
}
img {
  display: block;
  max-width: 100%;
  align-self: center;
}
.conclusion {
  /* margin: 2rem; */
  display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: white;
}
.hist {
  height: 25rem;
  width: 100vw;
}
/* #ex_hist {
  position: absolute;
  
  z-index: 100;
} */
#tooltip {
  position: absolute;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.188rem;
  box-shadow: -3px 3px 15px #939393;
  color: white;
  padding: 6px;
  font-family: century-gothic, sans-serif;
  font-size: 1.1em;
  max-width: 400px;
  min-width: 200px;
  z-index: 100;
}

/* positions of main div and 2 images */
.main_box,
.img1,
.img2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main_box {
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

.img1 {
  background-image: url("images/after.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img2 {
  background-image: URL("images/before.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  left: 50%;
  border-left: solid grey 5px;
}
.main_box_text {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
}
#myth {
  margin-top: 50vh;
  z-index: 10;
  color: #ffffff;
  margin-bottom: 1px;
  font-size: 6vmin;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

#remit {
  z-index: 10;
  font-size: 12vw;
  padding-top: 0;
  color: #bfcecb;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

#dispel_1 {
  position: absolute;
  top: 80vh;
  left: 80vw;
  color: white;
  z-index: 6;
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}
#banner_two {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
  text-align: center;
}
#myth2 {
  position: absolute;
  top: 45vh;
  left: 24vw;
  color: white;
  z-index: 6;
  font-family: "Raleway", sans-serif;
  font-size: 8vmin;
  font-weight: 600;
}
#myth_question {
  padding-top: 55vh;
  position: center;
  color: whitesmoke;
  z-index: 6;
  font-size: 4vmin;
  font-family: century-gothic, sans-serif;
}
#highlight {
  font-family: century-gothic, sans-serif;
  font-size: 4vmin;
  color: black;
  background-color: #bfcecb;
  max-width: fit-content;
  margin: 0 auto;
}
h3 {
  font-size: 3vmin;
  font-family: century-gothic, sans-serif;
}
.higlighted {
  max-width: max-content;
  color: black;
}
.country_label {
  position: absolute;
  font-size: 3vmin;
  font-family: century-gothic, sans-serif;
  z-index: 100;
}

.label {
  position: absolute;
  font-size: 2vmin;
  font-family: century-gothic, sans-serif;
  z-index: 300;
}

#gt {
  background-color: #e3cfcf;
}
#hnd {
  background-color: #c0cfcc;
}
#slv {
  background-color: #d3e5ef;
}
#intro-highlight {
  background-color: #bfcecb;
}
#combined-highlight {
  background-color: #a0be94;
}
#clothing {
  background-color: #ab878a;
}
#clothing_intro {
  color: #ab878a;
}
#food {
  background-color: #ad98b4;
}
#food_intro {
  color: #ad98b4;
}

#utilities {
  background-color: #8098b2;
}
#utilities_intro {
  color: #8098b2;
}

#health {
  background-color: #86738c;
}
#health_intro {
  color: #86738c;
}

#education {
  background-color: #54a4aa;
}
#education_intro {
  color: #54a4aa;
}
#rural {
  background-color: #4b8053;
}
#urban {
  background-color: #ab9267;
}
.wrap-up {
  margin: 2rem;
  padding: 1rem;
  justify-content: center;
  font-family: century-gothic, sans-serif;
  font-size: 2.5vmin;
}
